<footer class="footer"> 
  <div class="container">
    <div class="row">
      <div class="col-12 p-0">
        <div class="footer__nav">
          <div class="nav-col info">
            <div class="footer__logo">
              <div>
                <div>
                  <div class="r-social">
                    <a href="https://www.linkedin.com/school/universidad-aut%C3%B3noma-de-chile/"
                      aria-label="Linkedin"><i class="i-decoration fab fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/uautonomadechile/" aria-label="Instagram"><i
                        class="i-decoration fab fa-instagram"></i></a>
                    <a href="https://www.facebook.com/uautonomadechile" aria-label="Facebook"><i
                        class="i-decoration fab fa-facebook-square"></i></a>
                    <a href="https://twitter.com/autonomadechile" aria-label="Twitter"><i
                        class="i-decoration fa-brands fa-square-x-twitter"></i></a>
                    <a href="https://www.youtube.com/channel/UCKH5TRayoUI4hxBAC8-hfbQ" aria-label="Youtube"><i
                        class="i-decoration fab fa-youtube"></i></a>
                    <a href="https://www.tiktok.com/discover/uautonoma-chile" aria-label="Tiktok"><i
                        class="i-decoration fa-brands fa-tiktok"></i></a>
                  </div>
                  <h5>Contáctanos</h5>
                  <ul>
                    <li>
                    </li>
                    <li>
                      <p>Comunícate con nosotros</p>
                      <a target="" href="/contacto">Ir al formulario</a>
                    </li>
                    <li>
                      <p>Denuncias de convivencia, acoso laboral y sexual</p>
                      <a target="" href="https://www.uautonoma.cl/canales-de-denuncia/">Ingresa aquí</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="nav-col">
            <h5>Sedes y Campus</h5>
            <ul>
              <li><a href="https://www.uautonoma.cl/sedes/providencia-santiago/">Providencia, Santiago</a>
              </li>
              <li><a href="https://www.uautonoma.cl/sedes/el-llano-santiago/">El Llano Subercaseaux, Santiago</a>
              </li>
              <li><a href="https://www.uautonoma.cl/sedes/talca/">Talca</a>
              </li>
              <li><a href="https://www.uautonoma.cl/sedes/temuco/">Temuco</a>
              </li>
            </ul>
          </div>
          <div class="nav-col">
            <h5>Universidad</h5>
            <ul>
              <li><a href="https://www.uautonoma.cl/acreditacion-2024">Acreditación 2024</a>
              </li>
              <li><a href="https://www.uautonoma.cl/universidad/docencia/">Vicerrectoría Académica</a>
              </li>
              <li><a href="https://www.uautonoma.cl/vicerrectoria-de-aseguramiento-de-la-calidad/">Vicerrectoría de
                  Aseguramiento de la Calidad</a>
              </li>
              <li><a href="https://www.uautonoma.cl/investigacion">Vicerrectoría de Investigación y Doctorados</a>
              </li>
              <li><a href="https://www.uautonoma.cl/vinculacion-con-el-medio/">Vicerrectoría de Vinculación con el
                  Medio</a>
              </li>
              <li><a href="https://www.uautonoma.cl/facultades/">Facultades</a>
              </li>
              <li><a href="https://postgrados.uautonoma.cl/">Dirección de Desarrollo y Postgrados </a>
              </li>
              <li><a href="/direccion-general-de-vida-universitaria-y-comunicaciones/">Dirección General de Vida
                  Universitaria y Comunicaciones</a>
              </li>
            </ul>
          </div>
          <div class="nav-col">
            <h5>Comunicaciones corporativas</h5>
            <ul>
              <li><a href="https://www.uautonoma.cl/noticias/">Noticias</a>
              </li>
              <li><a href="https://www.uautonoma.cl/eventos/">Eventos</a>
              </li>
              <li><a href="https://www.uautonoma.cl/directorio-de-redes-sociales/">Redes sociales</a>
              </li>
            </ul>
          </div>
          <div class="nav-col">
            <h5>Información y servicios</h5>
            <ul>
              <li><a
                  href="https://www.uautonoma.cl/content/uploads/2023/12/RES-RECTORIA-No199-2023-Aprueba-Calendario-General-Academico-de-Pregrado-2024-1.pdf"
                  target="_blank">Calendario Académico</a>
              </li>
              <li><a
                  href="https://www.uautonoma.cl/facultades/ciencias-de-la-salud/clinicas-de-atencion-psicologica-capsi/">Clínicas
                  de Atención Psicológica</a>
              </li>
              <li><a href="https://www.uautonoma.cl/facultades/derecho/clinicas-juridicas/">Clínicas Jurídicas y
                  Sociales</a>
              </li>
              <li><a
                  href="https://www.uautonoma.cl/investigacion/direccion-de-investigacion/institutos-de-investigacion/">Institutos
                  de Investigación</a>
              </li>
              <li><a
                  href="https://www.uautonoma.cl/investigacion/direccion-de-investigacion/centros-de-investigacion/">Centros
                  de Investigación</a>
              </li>
              <li><a href="https://www.uautonoma.cl/reglamentos/">Políticas, Reglamentos y Protocolos</a>
              </li>
              <li><a href="https://www.uautonoma.cl/boton-de-pago/" target="_blank">Pagos en línea</a>
              </li>
              <li><a href="https://certificado.uautonoma.cl/" target="_blank">Verificación de Certificados</a>
              </li>
              <li><a href="https://www.uautonoma.cl/terminos-legales-y-condiciones-generales/">Términos Legales y
                  Condiciones Generales</a>
              </li>
              <li><a href="https://www.uautonoma.cl/convenios-recursos-publicos/">Convenios Recursos Públicos</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <ul class="list-certificate">
          <li>
            <img loading="lazy" src="https://www.uautonoma.cl/content/uploads/2023/08/TOP3-UNIV-JOVENES.png" width="200"
              height="60" alt="TOP3-UNIV-JOVENES">
          </li>
          <li>
            <img loading="lazy" src="https://www.uautonoma.cl/content/uploads/2023/08/2DO-CITAS-INVESTIGACION.png"
              width="200" height="60" alt="2DO-CITAS-INVESTIGACION">
          </li>
          <li>
            <img loading="lazy"
              src="https://www.uautonoma.cl/content/uploads/2023/10/times-high-ed-caluga-web-nueva.png" width="200"
              height="60" alt="times-high-ed-caluga-web-nueva">
          </li>
          <li>
            <img loading="lazy" src="https://www.uautonoma.cl/content/uploads/2023/08/UNIV-SALUD-PUBLICA.png"
              width="200" height="60" alt="UNIV-SALUD-PUBLICA">
          </li>
          <li>
            <img loading="lazy" src="https://www.uautonoma.cl/content/uploads/2023/08/TOP10-SCIMAGO.png" width="200"
              height="60" alt="TOP10-SCIMAGO">
          </li>
          <li>
            <img loading="lazy" src="https://www.uautonoma.cl/content/uploads/2023/08/CNA.png" width="200" height="60"
              alt="CNA">
          </li>
          <li>
            <img loading="lazy" src="https://www.uautonoma.cl/content/uploads/2023/08/AQAS.png" width="200" height="60"
              alt="AQAS">
          </li>
          <li>
            <img loading="lazy" src="https://www.uautonoma.cl/content/uploads/2023/08/ANECA.png" width="200" height="60"
              alt="ANECA">
          </li>
          <li>
            <img loading="lazy" src="https://www.uautonoma.cl/content/uploads/2023/08/ADSCRITA.png" width="200"
              height="60" alt="ADSCRITA">
          </li>
        </ul>
      </div>
    </div>
    <div class="row footer-bottom">
      <div class="col-lg-6">
        <p>©2024 | <a href="https://www.uautonoma.cl/" style="color: white;">Universidad Autónoma de Chile</a>
        </p>
      </div>

    </div>
  </div>
</footer>
